a {
  color:white;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.fas{
  margin-right: 10px;
}
hr{
  background:#888;
  position: relative;
  left:-5px;
}