a {
  color:#fff;
}
.navbar-brand{
  color:white;
  font-size:30px;
  font-weight: bolder;
  display:flex;
  padding-top: 10px;
  margin-bottom: -10px;
  align-items: center;
}
.sidenav{
  height: 100%;
}
.fas{
  margin-right: 10px;
}
hr{
  background:#999;
  position: relative;
  left:-10px;
  margin: 10px;
}
li{
  a{ 
    padding-left:10px;
  }
}
li:hover{
  
  color:white;
  background-color:rgb(40, 137, 247);
}
.active{
  font-weight: bold;
  color:white;
  background-color:rgb(40, 137, 247);
}