<nav class="bg-dark sidenav container-fluid">
  <div class="sidebar-sticky">
    <a href="#" class="navbar-brand bold">PMS</a>
    <hr>
    <ul class="navbar-nav mb-3">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/workorder" routerLinkActive="active"><i
            class="fas fa-clipboard-list"></i> Work Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/request" routerLinkActive="active"><i class="fas fa-download"></i>
          Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/products" routerLinkActive="active"><i class="fas fa-gift"></i>
          Products</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/people" routerLinkActive="active"><i class="fas fa-users"></i>People
          and Teams</a>
      </li> -->
    </ul>
    <hr>
    <ul class="navbar-nav mb-3">

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/assets" routerLinkActive="active"><i
            class="fas fa-shopping-basket"></i>Assets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/inventory" routerLinkActive="active"><i class="fas fa-tools"></i> Parts /
          Inventory</a>
      </li>
    </ul>
    <hr>
    <!-- <ul class="navbar-nav mt-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/settings" routerLinkActive="active"><i
            class="fas fa-cogs"></i>Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contacts" routerLinkActive="active"><i class="fas fa-envelope"></i>
          Contacts</a>
      </li>
    </ul> -->
  </div>
</nav>