a {
  color:#aaa;
}
.navbar-brand{
  color:white;
  font-size:30px;
  font-weight: bolder;
}
.sidenav{
  height: 100%;
}
.fas{
  margin-right: 10px;
}
hr{
  background:#888;
  position: relative;
  left:-5px;
}
.active{
  font-weight: bold;
  color:rgb(40, 137, 247);
}