<nav class="navbar navbar-expand-sm navbar-light navbar-lg bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#"><h3>Work Orders</h3></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/"><i class="fas fa-bell"></i></a>    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/"><i class="far fa-user-circle"></i></a>
                
            </li>
            
        </ul>
    </div>
</nav>