
<mat-drawer-container class="matContainer" autoSize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row class="bg-light text-dark border-bottom ">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>{{title}}</span>
                <span class="spacer"></span>
                <mat-icon class="mx-2">notification_important</mat-icon>
                          
                <!-- <app-navbar></app-navbar> -->
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="mx-2">account_circle</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <span mat-menu-item>John Doe</span>
                    
                    <button mat-menu-item>
                      <mat-icon>perm_identity</mat-icon>
                      <span>View Profile</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>
                  
            </mat-toolbar-row>
            
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</mat-drawer-container>