<!-- <div class="container"> -->
<!-- <div class="row">
      <div class="col-2">
          <app-sidenav></app-sidenav>
      </div>
      <div class="col-10">
            <app-navbar></app-navbar>
            <div class="container ml-4">
                <router-outlet></router-outlet>
            </div>
        </div>
  </div>    -->
<mat-drawer-container class="matContainer" autoSize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Title</span>
                <span class="spacer"></span>
                <mat-icon class="mx-2">notification_important</mat-icon>
                <mat-icon class="mx-2">account_circle</mat-icon>          
                <!-- <app-navbar></app-navbar> -->
            </mat-toolbar-row>
            
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</mat-drawer-container>