/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
    width: 100%;
  }
  th{
    color:white;
  }
  th.mat-sort-header-sorted {
    color: white;
  }
  
  .table-header{
    background:rgb(40, 137, 247);
     
  }
